dspace/modules/additions/src/main/resources/resources/xjb-schemas/ref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Mon May 18 2015 13:04:10 GMT+0200 (CEST) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="references">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="reference" maxOccurs="unbounded">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="prefix" type="xs:string"></xs:element>
                                                 <xs:element name="authors" type="xs:string"></xs:element>
                                                 <xs:element name="title" type="xs:string"></xs:element>
                                                 <xs:element name="suffix" type="xs:string"></xs:element>
                                                 <xs:element name="year" type="xs:int"></xs:element>
                                                 <xs:element name="links">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="link" maxOccurs="unbounded">
																			<xs:complexType>
																				 <xs:simpleContent>
																					 <xs:extension base="xs:string">
																						 <xs:attribute name="source" type="xs:string"></xs:attribute>
																						<xs:attribute name="id" type="xs:string"></xs:attribute>
																					 </xs:extension>
																				 </xs:simpleContent>                                                                                    
																			</xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                          <xs:attribute name="id" type="xs:string"></xs:attribute>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>
